
<div class="container m-5">
    <div class="row">
        <h1>propuesta</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">keywords</h5>
              <p class="card-text">aqui deberian de venir las palabras clave</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Propuesta de valor</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="" class="btn btn-primary">Regenerar idea</a>
            </div>
          </div>
        </div>
      </div>
</div>