<body class="home">
    <div>
        <img class="imagen-home" src="/assets/Pantalla.png" alt="">
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> <img src="/assets/LogoTrendiApp.png" class="logo"> TrendiApp</h3>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn btn-lg btn-block" (click)="crecerClientes(1)">Clientes</button>
            <button type="button" class="btn btn btn-lg btn-block"(click)="excelenciaOperativa(2)">Excelencia operativa</button>
        </div>
    </div>
</body>