
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,100;1,200;1,500&display=swap');
.btn{
    width: 90% ;
    margin-top: 30px;
}
.home{
    background: linear-gradient(45deg, rgba(4,6,107,1) 0%,rgba(5,9,50,1) 30%, rgba(5,9,50,1) 100%);
}

.logo{
    width: 100px;
    height: 100px;
}

.imagen-home{
    position: absolute;
    top: 120px; left: 40px;
    width: 480px;
    height: 480px;
}

button{
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26pt;
    background: linear-gradient(90deg, rgba(60,233,218,.5)  0%, rgba(102,202,230,1) 100%);

}
button:hover{
    border: solid 1px white;
    /* background: linear-gradient(90deg, rgba(102,202,230,1) 0%, rgba(60,233,218,.5) 100%); */
}

.card{
    position: absolute;
    top: 150px; left: 680px;
    text-align: center;
    color: white;
    width: 45%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.card-header{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60pt;
}

/*
#66cae6
#3ce9da
#04066b
#050932

*/
